.nthabee{
  width: 250px;
  height: 100%;
  float: left;


}

#title {
  background-color: #fdb9c8;
  padding: 1% 15%;
}

.nav-item {

  padding: 0 20px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-Thin";
  color: black;
}

.vector{
  width: 115%;
  padding-top: 3.5rem;
}

.vec{
  text-align: left;
}

.slogan{
  font-family: "Montserrat";
  color: white;
  font-size: 7rem;
  line-height: 1.5;
  padding-top: 10%;

}

.container-fluid{
  padding: 3% 15%;
}

body{
  font-family: "Montserrat";
}

.navbar{
 padding-bottom: 15.5rem;
 background-color: #fdb9c8;
}

.tagline{
  text-align: center;
  padding-top: 5%;
}

#features {
  padding: 0% 15%;
  background-color: #eeeeee;
}

.feature-box{
  text-align: center;
  padding: 5%;
}

p{
  color: #8f8f8f;
}

h3{
  font-family: "Montserrat-Bold"
  font-size: 1.5rem;
  font-weight: bold;
}

.feature-pics{
  width: 70%;
  margin-bottom: 1rem;
}
.feature-pics-m{
  width: 83%;
  margin-bottom: 1rem;
}
.feature-pics-n{
  width: 93.7%;
  margin-bottom: 1rem;
}

#aboutMe{
  padding: 7% 15%;
}

.qoute{
  background-color: white;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;

}
.profilepic{
  width: 50%;
  padding-top: 8%;
}

.pp{
  text-align: center;
}

.transtext{
  font-size: 250%;
  color: #fdb9c8;
  padding: 0;
}

#cta{
  padding-top: 0;
  padding: 0% 15% 3% 15%;
  background-color: #eeeeee;
}
.profilepicfooter{
  width: 25%;
}

#footer{
  padding: 1% 15%;
  background-color: #fdb9c8;
  text-align: center;
}

.footertext{
  color: #fdb9c8;
}

.h3header{
  color: #fdb9c8;
}
.footerpic{
  text-align: center;
}

.socials{
  margin: 20px 10px;
  color: white;
}

.copy{
  color: white;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: white;
}

.footerlink{
  color: black;
}

.booking{
  margin-right: 10%;


}

.btn{
  margin-top: 10%;
}

.fa-solid{

}







textarea {
    resize: none;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}

@charset "UTF-8";

.svg-inline--fa {
  vertical-align: -0.200em;
}

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {
  font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
  background: #125688;
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
}
